<form class="form-horizontal">
  <div class="form-group"><label for="modelName" class="col-xs-2">Model Name</label><div class="col-xs-2"><input readonly id="modelName" ng-model="data.modelName"/></div></div>
  <div class="form-group"><label for="manufacturer" class="col-xs-2">Manufacturer</label><div class="col-xs-2"><input readonly id="manufacturer" ng-model="data.manufacturer"/></div></div>
  <div class="form-group"><label for="softwareVersion" class="col-xs-2">Software Version</label><div class="col-xs-2"><input readonly id="softwareVersion" ng-model="data.softwareVersion"/></div></div>
  <div class="form-group"><label for="softwareUpdateAvailable" class="col-xs-2">Software Update Available</label><div class="col-xs-2"><input readonly id="softwareUpdateAvailable" ng-model="data.softwareUpdateAvailable"/></div></div>
  <div class="form-group"><label for="ipAddress" class="col-xs-2">IP Address</label><div class="col-xs-2"><input readonly id="ipAddress" ng-model="data.ipAddress"/></div></div>
  <div class="form-group"><label for="macAddress" class="col-xs-2">MAC Address</label><div class="col-xs-2"><input readonly id="macAddress" ng-model="data.macAddress"/></div></div>
</form>
