<form name="device" class="form-horizontal" novalidate>
  <div class="form-group"><label for="room" class="col-xs-2">Room</label><div class="col-xs-2"><input id="room" ng-model="data.room" required/></div></div>
  <!--<div class="form-group"><label for="autoPlay" class="col-xs-2">Auto Play</label><div class="col-xs-2"><input id="autoPlay" type="checkbox" ng-model="data.autoPlay"/></div></div>-->
  <!--<div class="form-group"><label for="internalPowerAmplifier" class="col-xs-2">Internal Power Amplifier</label><div class="col-xs-2"><input id="internalPowerAmplifier" type="checkbox" ng-model="data.internalPowerAmplifier"/></div></div>-->
  <div class="form-group"><label for="name" class="col-xs-2">Name</label><div class="col-xs-2"><input id="name" ng-model="data.name" required/></div></div>
  <!--<div class="form-group"><label for="startupMode" class="col-xs-2">Startup Mode</label><div class="col-xs-2"><select id="startupMode" ng-model="data.startupMode"><option value="sleep">Sleep</option><option value="active">Active</option></select></div></div>-->
  <!--<div class="form-group"><label for="startupSource" class="col-xs-2">Startup Source</label><div class="col-xs-2"><input id="startupSource" ng-model="data.startupSource"/></div></div>-->
  <!--<div class="form-group"><label for="stratupSourceEnabled" class="col-xs-2">Startup Source Enabled</label><div class="col-xs-2"><input id="startupSourceEnabled" type="checkbox" ng-model="data.startupSourceEnabled"/></div></div>-->
</form>
